@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap%27');

/*Navbar*/
.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
.navbar-dark {
background-color:#313131;
}

.nav-item:hover {
font-weight: bold;
}

/*Navbar Billboard dropdown*/
.dropdown-toggle{
  color: white;
}

.dropdown-toggle:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.drop{ /*Action, Adventure, Comedy, SciFi*/
  text-decoration: none;
  color: white;
}

.drop:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.dropdown-menu{
  background-color: #313131;
}

.dropdown {
  padding-bottom: 0.5rem;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
  padding-top: 0.5rem;
}   
/*END Navbar*/

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 59rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 59rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.left-img-featurette {
  padding-left: 35px;
}

/* .featurette-image {
  height: 500;
  width: 500;
  position: relative;
}  */


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
} 

#background {
  background-color: rgb(245, 245, 247);
}

.genreTitles{
  background-color: white;
  padding: 10px;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 0.2%;
}


/* Title index*/
.jumbotron {
  background-image: url("../_images/banner-qs.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

.display-3, .lead {
  font-weight: 400;
}