@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
  
body {
  margin-top: 7vh;
}

/*Register button*/
input[type=submit] {
  background-color:#aa2727;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  

input[type=submit]:hover {
  background-color: #aa2727;
}
  
/*Container of registration*/

.container {
  margin-top: 10vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: 'Lora', serif;
  padding-top: 25px;
}

label{
  padding-top: 10px;
} 

/*Navbar*/
.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
.navbar-dark {
background-color:#313131;
}

.nav-item:hover {
font-weight: bold;
}

/*dropdown*/
.dropdown-toggle{
  color: white;
}
.dropdown-toggle:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.drop{ /*Action, Adventure, Comedy, SciFi*/
  text-decoration: none;
  color: white;
}
.drop:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.dropdown-menu{
  background-color: #313131;
}
li{
  padding-bottom: 0.5rem;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
  padding-top: 0.5rem;;
}
/*END Navbar*/

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  margin-top: 9vh;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  margin: 0 auto;
  background-color: white;
}
/* .form-signin .checkbox {
  font-weight: 400;
} */
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin input[type="password"] {
  margin-top: 15px;
  border-radius: 5px;
}
.form-signin input[type="text"] {
  margin-top: 15px;
  border-radius: 5px;
}

/* Position Remember me */
.remember{
    display: inline-block;
    width: 90%;
    text-align: right;
}

/* ICON */
.icon{
  width: 146px;
  height: 146px;
  border-radius: 10px;
}

/**/
.form-signin{
  opacity: 0.8;
}
/*BACK to login*/
.back{
  margin-top: 6px;
}
