@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap%27');
.carousel{
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#background {
  background-color: rgb(245, 245, 247);
}

.genreTitles{
  background-color: white;
  padding: 10px;
  margin-top: 1%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 0.2%;
}

/* Navbar */
.navbar-custom { 
  background-color: #836248;
}

/* Title index*/
.jumbotron {
  background-image: url("../_images/banner-qs.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
}

.display-3, .lead {
  font-weight: 400;
}